.howItWorks-main {
    margin-top: 100px;
    padding: 0px 100px;
}

.howItWorks-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 550;
}

.howItWorks-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.howItWorks-card {
    width: 220px;
    height: 100px;
    padding: 0.5rem;
    background-color: #63afc250;
    border-radius: 8px;
    backdrop-filter: blur(5px);
    border-bottom: 3px solid rgba(255, 255, 255, 0.440);
    border-left: 2px rgba(255, 255, 255, 0.545) outset;
    box-shadow: -40px 50px 30px rgba(0, 0, 0, 0.280);
    transform: skewX(10deg);
    transition: all 0.5s ease;
    overflow: hidden;
}

.howItWorks-card:hover {
    height: 200px;
    transform: skew(0deg);
    cursor: grab;
}

.align {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-self: flex-start;
}

.red {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ff605c;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
}

.yellow {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffbd44;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
}

.green {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #00ca4e;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
}

.howItWorks-card-heading {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin: 1.3rem;
    text-shadow: -10px 5px 20px rgba(0, 0, 0, 0.4);
}

.howItWorks-card-subheading {
    font-size: 17px;
}


@media (max-width: 500px) {
    .howItWorks-main {
        padding: 0px 20px;
    }

    .howItWorks-title {
        font-size: 30px;
    }

    .howItWorks-cards {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        overflow-x: auto;
        overflow-y: hidden;
        gap: 40px;
        padding: 20px;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        flex-wrap: nowrap;
    }

    .howItWorks-cards::-webkit-scrollbar {
        height: 8px;
    }

    .howItWorks-cards::-webkit-scrollbar-track {
        background: transparent;
    }

    .howItWorks-cards::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 10px;
    }

    .howItWorks-card {
        min-width: 200px;
        height: 180px;
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.280);
        transform: skew(0deg);
        cursor: grab;
    }

    .howItWorks-card:hover {
        height: 180px;
    }

    .howItWorks-card-heading {
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        margin: 1.3rem;
        text-shadow: -10px 5px 20px rgba(0, 0, 0, 0.4);
    }

    .howItWorks-card-subheading {
        font-size: 16px;
    }
}
