.login-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: #9af7c4;
    border: none;
    border-radius: 8px;
    padding: 20px 10px;
    box-shadow: 1px 1px 10px black;
    transition: all 0.3s ease;
}

.login-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 550;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

#login-email,
#login-password {
    width: 30vw;
    font-size: 15px;
    padding: 5px 15px;
    border: none;
    border-radius: 15px;
    outline: none;
}

#login-btn {
    font-size: 18px;
    padding: 5px 15px;
    border: none;
    border-radius: 15px;
    background-color: #63afc2;
    cursor: pointer;
    transition: all 0.2s ease;
}

#login-btn:hover {
    box-shadow: 1px 1px 10px black;
}

.error-msg {
    font-size: 14px;
    color: red;
}

.not-account {
    font-size: 14px;
}

.not-account a {
    color: blue;
}


@media (max-width: 500px) {
    .login-main {
        padding: 20px;
    }

    .form {
        width: 80%;
        padding: 20px 15px;
        gap: 20px;
    }

    .login-title {
        font-size: 20px;
    }

    .login-main .form form {
        width: 100%;
    }

    #login-email,
    #login-password {
        width: 50vw;
        font-size: 13px;
    }

    #login-btn {
        font-size: 14px;
        padding: 5px 20px;
    }

    .error-msg {
        font-size: 13px;
    }

    .not-account {
        font-size: 13px;
        text-align: center;
    }
}
